.modal.fade.show-schedule-modal{'aria-hidden'=>'true'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{'data-dismiss'=>'modal'}
          %span
            &times;
        %h5 Choose schedule

      .modal-body
        .form-group
          %input.form-control.hidden{type: :hidden, id: :supplier_id }

        .form-group
          %input.form-control.hidden{type: :hidden, id: :view }

        .form-group
          %input.form-control.hidden{type: :hidden, id: :sched_id }

        .form-group
          %select.form-control#schedule-type
            %option{value: :weekly} Weekly
            %option{value: :monthly} Monthly
            %option{value: :twice_a_month} Twice a Month

        .form-group
          %select.form-control#monthly-schedule-type{style: 'display: none;'}
            %option{value: :week1} Week 1
            %option{value: :week2} Week 2
            %option{value: :week3} Week 3
            %option{value: :week4} Week 4

        .form-group
          %select.form-control#twiceamonth-schedule-type{style: 'display: none;'}
            %option{value: :week1_week3} Week 1 and Week 3
            %option{value: :week2_week4} Week 2 and Week 4

        .form-group
          %select.form-control#day-schedule-type
            %option{value: :monday} Monday
            %option{value: :tuesday} Tuesday
            %option{value: :wednesday} Wednesday
            %option{value: :thursday} Thursday
            %option{value: :friday} Friday
            %option{value: :saturday} Saturday
            %option{value: :sunday} Sunday

      .modal-footer
        %span#close-btn.btn.btn-primary{'data-dismiss'=>'modal'} Proceed
        %button.btn.btn-default{'data-dismiss'=>'modal'} Close

%form#copy-po-form
  .modal.fade#copy-po-modal{'aria-hidden' => 'true'}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{type: :button, 'data-dismiss' => 'modal'}
            %span{'aria-hidden' => 'true'} &times;
          %h4.modal-title Choose Branch
        .modal-body
          #load-branches
        .modal-footer
          %button.btn.btn-default{type: :button, 'data-dismiss' => 'modal'} Close
          %span.btn.btn-primary#trigger-copy-po Copy PO


%form#manual-po-form
  .modal.fade#manual-po-modal{'aria-hidden' => 'true'}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{type: :button, 'data-dismiss' => 'modal'}
            %span{'aria-hidden' => 'true'} &times;
          %h4.modal-title Choose Supplier
        .modal-body
          - @suppliers.uniq.each do |supplier|
            %li.padding-5
              %input{type: :checkbox, name: :id, value: supplier.id, id: "supp-#{supplier.id}"}
              %label{for: "supp-#{supplier.id}"}
                = " #{supplier.name}"
        .modal-footer
          %button.btn.btn-default{type: :button, 'data-dismiss' => 'modal'} Close
          %input.btn.btn-primary#trigger-manual-po{type: :submit, value: 'Generate PO'}

.modal.fade#assign-supp-modal{'aria-hidden'=>'true'}
  .modal-dialog.modal-lg-6
    .modal-content
      .modal-header
        %button.close{'data-dismiss'=>'modal'}
          %span
            &times;
        %h3 Products
      .modal-body
        #load-products
      .modal-footer
        %span#assign-supp-btn.btn.btn-primary{'data-dismiss'=>'modal'} Confirm
        %button.btn.btn-default{'data-dismiss'=>'modal'} Close

