.hide#json{'json-data' => @products_x.to_s}  
.control-group
	- if @products_x.to_s == "[]"
		No Products to add. 
	- else
		Choose products you wish to assign to this supplier: 
		%input.form-control#product-list{type: :text, placeholder: "Select a product..."}

:javascript
	$(document).ready(function(){
		json = $("#json").attr('json-data');
	});

	$('#product-list').selectize({
		persist: false,
		valueField: 'id',
		searchField: ['name'],
		options: #{@products_x},
		render: {
		    item: function(item, escape) {
		        return '<div>' +
		            (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
		        '</div>';
		    },
		    option: function(item, escape) {
		        var label = item.name || item.id;
		        var caption = item.name ? item.id : null;
		        return '<div>' + '<span class="">' + escape(label) + '</span>' + '</div>';
		    }
		}
	});