= page_entries_info @result
%table.table.table-global
  %tr
    %th No
    %th Supplier Name
    %th Date Assigned
    %th Last Update Date
    %th.text-center Action
  - no = 0
  - @result.each do |supplier2|
    %tr
      %td= no += 1
      %td
        = link_to supplier2.name, products_supplier_path(supplier2)
      %td= supplier2.created_at.strftime('%m-%d-%Y %r')
      %td= supplier2.updated_at.strftime('%m-%d-%Y %r')
      %td.text-center{width: 150}
        - schedule = supplier2.branch_supplier_configurations.find_by_branch_id(params[:id])
        %span.supplier-btn3.btn.btn-warning.btn-xs{'data-toggle'=>'modal', 'data-target'=>'.show-schedule-modal', 'data-supplier-id' => supplier2.id, 'frequency_type' => schedule.frequency_type, 'view' => 'Y', 'frequency_week' => schedule.frequency_week , 'frequency_day' => schedule.frequency_day, 'sched_id' => schedule.id}
          Schedule
        - if (merchant_current_user.role == 'owner')
          %span.supplier-btn2.btn.btn-primary.btn-xs
            Unassign

= will_paginate @result, class: 'assigned-paginate'


:javascript
  $(".supplier-btn2").click(function(){
    var supplierId = $(this).attr('data-supplier-id');
    var params = { "supplier_id": supplierId }
    $.post("#{unassigner_branch_path(params[:id])}", params)
     .done(function( data ) {
        if ( data == 'success' ) {
          document.location.href = '';
        } else {
          alert('Failed! Try again!');
        }
     });
  });


  $(".supplier-btn3").click(function(){

    console.log($(this).attr('frequency_type'));

    if ($(this).attr('frequency_type') == 'weekly')
    {
      $('#twiceamonth-schedule-type').css('display', 'none');
      $('#monthly-schedule-type').css('display', 'none');
    }
    else if ( $(this).attr('frequency_type') == 'monthly' )
    {
      $("#monthly-schedule-type").css('display', 'block');
      $('#twiceamonth-schedule-type').css('display', 'none');
    }
    else if ($(this).attr('frequency_type') == 'twice_a_month')
    {
      $('#twiceamonth-schedule-type').css('display', 'block');
      $('#monthly-schedule-type').css('display', 'none');
    }

    $("#sched_id").val($(this).attr('sched_id'));
    $("#supplier_id").val($(this).attr('data-supplier-id'));
    $("#schedule-type").val($(this).attr('frequency_type'));
    $("#monthly-schedule-type").val($(this).attr('frequency_week'));
    $("#twiceamonth-schedule-type").val($(this).attr('frequency_week'));
    $("#day-schedule-type").val($(this).attr('frequency_day'));
    $("#view").val($(this).attr('view'));

  });

  $(function(){
    $(".assigned-paginate a").click(function(event){
      event.preventDefault();
      var link = $(this).attr('href');
      $("#load-here2").load(link, function(){});
    });
  });