= page_entries_info @result
%table.table.table-global
  %tr
    %th No
    %th Supplier Name
    %th Date Added
    %th Last Update Date
    %th.text-center Action
  - no = 0
  - @result.each do |supplier|
    %tr
      %td= no += 1
      %td= supplier.name
      %td= supplier.created_at.strftime('%m-%d-%Y %r')
      %td= supplier.updated_at.strftime('%m-%d-%Y %r')
      %td.text-center{width: 80}
        %span.supplier-btn.btn.btn-primary.btn-xs{'data-toggle'=>'modal', 'data-target'=>'.show-schedule-modal', 'data-supplier-id' => supplier.id , 'view' => 'N' }
          Assign

= will_paginate @result, class: 'unassigned-paginate'

:javascript
  $(".supplier-btn").click(function(){
    $("#supplier_id").val($(this).attr('data-supplier-id'));
    $("#view").val($(this).attr('view'));
    $('#twiceamonth-schedule-type').css('display', 'none');
    $('#monthly-schedule-type').css('display', 'none');
    $("#schedule-type").val('weekly');
    $("#day-schedule-type").val('monday');
    $("#twiceamonth-schedule-type").val('week1_week3');
    $("#monthly-schedule-type").val('week1');
  });

  $(".unassigned-paginate a").click(function(event){
    event.preventDefault();
    var link = $(this).attr('href');
    $("#load-here").load(link, function(){});
  });