:javascript
  var branch_id_params;
  $(document).ready(function(){
      branch_id_params = $("#review").attr('data-attr-par');
  });
:css 
  div.dataTables_processing {
    font-weight: bold;
    color: #428bca;
    border: 0px;
  }
    
%ul.nav.nav-tabs{role: :tablist}
  %li.active#po_tab
    %a{href: '#purchase_orders_tab', role: :tab, 'data-toggle'=>'tab', id: '#purchase_orders_tab_select'} Purchase Orders
  %li#sp_tab
    %a{href: '#suppliers_tab', role: :tab, 'data-toggle'=>'tab', id: '#suppliers_tab_select'} Suppliers

.hide#review{'data-attr-par' => params[:id], 'data-owner-type' => merchant_current_user.role, 'po-count' => @purchase_orders.count}
  %h2
    = @copy_po
.tab-content
  .tab-pane.active#purchase_orders_tab
    .col-xs-4.padding-0
      %h3= "Purchase Orders"
    .col-xs-4.padding-0.text-center
      %h3
        %label#po-status-label{style: "text-align: center; font-size: 13px;"}

    .col-xs-4.padding-0.text-right
      %h3
        %span.btn.btn-success{'data-toggle' => 'modal', 'data-target' => '#manual-po-modal'}
          Create PO
    %table#purchase_orders.table.table-global{"data-source" => branch_url(format: "json")}
      %thead
        %tr
          %th No
          %th Ref #
          %th Supplier
          %th Branch
          %th{width: 200} Category
          %th Status
          %th Generated At
          %th Action
      %tbody
  - if merchant_current_user.role == 'owner'
    .tab-pane#suppliers_tab
      .col-lg-6
        %h3= "Suggested Suppliers"
        %table#pending-distributors.table.table-global{"data-source" => search_unassigned_branch_url(format: "json")}
          %thead
            %tr
              %th No
              %th Supplier Name
              %th Date Added
              %th Last Update Date
              %th.text-center Action
          %tbody 
      .col-xs-6
        %h3= "Assigned Suppliers"
        %table#assigned-distributors.table.table-global{"data-source" => search_assigned_branch_url(format: "json")}
          %thead
            %tr
              %th No
              %th Supplier Name
              %th Last Update Date
              %th Schedule
              %th.text-center Action
          %tbody
  - else
    .tab-pane#suppliers_tab
      .col-xs-12
        %h3
        %table#assigned-distributors.table.table-global{"data-source" => search_assigned_branch_url(format: "json")}
          %thead
            %tr
              %th No
              %th Supplier Name
              %th Last Update Date
              %th{style: 'min-width: 195px;'} Schedule
              %th.text-center Action
          %tbody


= render partial: 'show_modals'

- content_for :footer do
  = javascript_include_tag 'branches/show'



  

