.col-xs-12.padding-0
  .col-xs-6.padding-0
    %h2 Merchant Accounts
  .col-xs-6.padding-0
    %h2.text-right
      = link_to 'Add Another Account', new_admin_account_path, class: 'btn btn-success'
%table.table-global.table
  %tr
    %th No
    %th Merchant Name
    %th Subdomain
    %th Date Registered
    %th Last Index Date
    %th{width: '140'} Action
  - no = 0
  - @merchants.each do |merchant|
    %tr
      %td= no += 1
      %td= link_to merchant.name, admin_account_path(merchant)
      %td= merchant.subdomain
      %td= merchant.created_at
      %td= merchant.last_data_index
      %td
        - if merchant.index_status == 'done'
          = link_to 'Index data', run_indexing_admin_account_path(merchant), class: 'btn btn-primary btn-md'
            
        - else  
          %span.btn.btn-primary.bth-md#yo{'data-loading-text'=>'Indexing data...'}            
            :javascript
              $("#yo").button('loading');