.col-xs-12.col-lg-5
  %h2 Add New Merchant Account
  = form_for @merchant, url: url_for(action: :create) do |f|
    .form-group
      %label Merchant Name
      = f.text_field :name, class: 'form-control'
    .form-group
      %label Short Name
      = f.text_field :subdomain, class: 'form-control'

    = f.fields_for :users do |u|
      .form-group
        %label First Name
        = u.text_field :first_name, class: 'form-control'
        = u.hidden_field :role, class: 'hidden', value: :owner
      .form-group
        %label Last Name
        = u.text_field :last_name, class: 'form-control'
      .form-group
        %label Email
        = u.email_field :email, class: 'form-control'
      .form-group
        %label Password
        = u.text_field :password, class: 'form-control'

    .form-group
      = f.submit 'Submit', class: 'btn btn-primary btn-sm'
      = button_tag 'Reset', type: :reset, class: 'btn btn-danger btn-sm'
.col-xs-12.col-lg-1
.col-xs-12.col-lg-5
  %br
  %br
  %br
  %br
  - if @merchant.errors.any?
    - @merchant.errors.each do |attrib, msg|
      .alert-dismissible.alert.alert-danger{role: :alert}
        %span.close{'data-dismiss' => "alert"}
          %span{'aria-hidden'=>'true'} &times;
        %strong= attrib.to_s.titleize.gsub('Users.', '')
        = "#{msg}"