- @users = User.where(:account_id => @merchant.id)
.col-xs-12.padding-0
  .col-lg-6.padding-0
    %h2 List of Users
%table.table-global.table
  %tr
    %th No
    %th First Name
    %th Last Name
    %th Email Address
    %th Date Registered
    %th Role
    %th Status
  - no = 0
  - @users.each do |user|
    %tr
      %td= no += 1
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td= user.created_at.strftime('%m-%d-%Y %I:%M %p')
      %td= user.role
      %td= user.status