.modal.fade#order-to-supplier-modal{role: :dialog, 'aria-hidden'=>'true'}
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				%button.close{type: :button, 'data-dismiss' => 'modal'}
				%h4 Choose Supplier
			
			.modal-body
				%select.form-control#order-to-supplier-supp-id
				
			.modal-footer
				%button.btn.btn-default{type: :button, 'data-dismiss'=>'modal'} Close
				%button.btn.btn-primary#confirm-transfer-button{type: :button, 'data-dismiss'=>'modal'} Confirm

.modal.fade#choose-purchase-order-modal{role: :dialog, 'aria-hidden'=>true}
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				%button.close{type: :button, 'data-dismiss'=>'modal'}
				%h4 Choose PO Destination

			.modal-body
				%select.form-control#purchase-order-select

			.modal-footer
				%button.btn.btn-default{type: :button, 'data-dismiss'=>'modal'} Close
				%button.btn.btn-primary#confirm-order-select{type: :button, 'data-dismiss'=>'modal'} Select