.control-group
	- if @products.to_s == "[]"
		No Products to add. 
	- else
		%input.form-control#product-list{type: :text, placeholder: "Select a product.."}
.modal-footer
	%button.btn.btn-default{type: :button, 'data-dismiss'=>'modal'} Close
	%button.btn.btn-primary#confirm-add-po{type: :button, 'data-dismiss'=>'modal'} Add PO Line

:javascript
	$('#product-list').selectize({
		persist: false,
		maxItems: 1,
		valueField: 'id',
		searchField: ['name'],
		options: #{@products},
		render: {
		    item: function(item, escape) {
		        return '<div>' +
		            (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
		        '</div>';
		    },
		    option: function(item, escape) {
		        var label = item.name || item.id;
		        var caption = item.name ? item.id : null;
		        return '<div>' + '<span class="">' + escape(label) + '</span>' + '</div>';
		    }
		}
	});

	$("#confirm-add-po").click(function() {
		var product = $('#product-list').val();
		var params = { "product_id": product }
		$.post("/purchase-orders/" + id + "/add_po_line", params)
			.done(function(data){				
				if ( data.result.toString() == 'success' ) {
					
						$("#gross-total-cost").text(data.updated_totals.total_po_cost);
						$("#total-item-discount").text(data.updated_totals.total_item_discount);
						$("#grand-total").text(data.updated_totals.gross_amount);
						$("#od").val(data.updated_totals.overall_discount);
						$("#net-amount").text(data.updated_totals.grand_total);					
					
					table.ajax.reload(function(){
					$("#edit-btn-" + data.po_id).click();
						$("#po-lines tbody tr:first-child").css('background-color','#CCCCFF');
					});
				} 
				else 
				{                
					swal("Oops...", "Product is already included in the Purchase Order.", "error");
				}

			}
		);
	});