%table#po.table.table-global{"data-source" => purchase_orders_url(format: "json")}
  %thead
    %tr
      %th No
      %th Ref #
      %th Supplier
      %th Generated At
      %th Category
      %th Action
  %tbody
    - no = 0
    - @purchase_orders.each do |po|
      %tr
        %td
          = no += 1
        %td= po.reference
        %td= link_to po.supplier.name, purchase_order_lines_purchase_order_path(po.id)
        %td= po.created_at.strftime('%m-%d-%Y %r')
        %td= po.product_category.name
        %td
          %span.po-btn3.btn.btn-info.btn-xs{'data-supplier-id' => po.supplier.id, 'data-po-id' => po.id}
            Copy PO


.modal.fade#copy-po{'aria-hidden'=>'true', 'role' => 'dialog'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{'data-dismiss'=>'modal'}
          %span
            &times;
        %h3 Copy PO
      .modal-body
        #load-branches
      .modal-footer
        %span#copy-btn.btn.btn-primary{'data-dismiss'=>'modal'} Done
        %button.btn.btn-default{'data-dismiss'=>'modal'} Close


:javascript
  var supplierId = '', poId = '';

  $(".po-btn3").click(function() {
    supplierId = $(this).attr('data-supplier-id');
    poId = $(this).attr('data-po-id');
    $("#load-branches").load("#{get_branches_of_supplier_purchase_orders_path}?id=" + supplierId, function(data){
      $('#copy-po').modal('show');
    });
  });

  $("#copy-btn").click(function(){
    //gets branch id of selected branch
    var branch_id = $('#selected-branch').val();

    var params = { "supplier_id": supplierId, "purchase_order_id": poId, "branch_id": branch_id }
    $.post("#{copy_po_purchase_orders_path(params[:purchase_order_id])}", params)
     .done(function( data ) {
       if ( data == 'success' ) {
         document.location.href = '';
       } else {
         alert('Failed! Try again!');
       }
     });
  });

  $('#po').dataTable({
     sPaginationType: "full_numbers",
     bProcessing: true,
     bServerSide: true,
     sAjaxSource: $('#po').data('source')
  });