= content_for :header do
  = stylesheet_link_tag 'po-lines'

.hide#review{'data-review-po' => @review_po.to_s , 'data-status' => @purchase_order.status, 'data-attr-id' => @purchase_order.id, 'po-lines' => @purchase_order.purchase_order_lines.count}
%br
.col-xs-12.col-lg-4.padding-0
  %table.table-unbordered
    %tr
      %th Reference #
      %td= @purchase_order.reference
    %tr
      %th Deliver To
      %td#branch-name= @purchase_order.branch.name
    %tr
      %th Supplier
      %td#supplier-name= @purchase_order.supplier.name
    %tr
      %th Status
      %td= @purchase_order.status.gsub(/[PCVA]/, 'P' => 'Pending', 'C' => 'Confirmed', 'V' => 'Voided', 'A' => 'Approved')
    %tr
      %th Category
      %td= @purchase_order.product_category.name
.col-xs-12.col-lg-4.padding-0
  %table.table-unbordered
    %tr
      %th PO Date:
      %td#po-date= @purchase_order.created_at.strftime("%F")
    %tr
      %th Cancellation Date:
      %td 
        - if @review_po == false || @purchase_order.status == 'A' || @purchase_order.status == 'V'
          %input.form-control#cancellation_date{type: :date, value: @purchase_order.cancellation_date.strftime("%F"), :disabled => :disabled}
        - else
          %input.form-control#cancellation_date{type: :date, value: @purchase_order.cancellation_date.strftime("%F")}   
    %tr
      %th Target Date:
      %td
        - if @review_po == false || @purchase_order.status == 'A' || @purchase_order.status == 'V'
          %input.form-control#target_date{type: :date, value: @purchase_order.due_date.strftime("%F"), :disabled => :disabled}
        - else
          %input.form-control#target_date{type: :date, value: @purchase_order.due_date.strftime("%F")}
       
    %tr
      %th Remark:
      %td
        %label.truncate#rem 
          = @purchase_order.remarks.blank? ? "--" : @purchase_order.remarks
        - if @review_po == true || @purchase_order.status == 'P' || @purchase_order.status == 'C'
          %span.btn.btn-xs.btn-success{'data-toggle'=>'modal', 'data-target'=>'#remarks-modal'} edit remarks
    %tr
      %th Terms:
      %td
        %input.form-control#supplier-terms{type: :text, value: @po_terms}
      
.col-xs-12.col-lg-4.padding-0
  %table.table-unbordered
    %tr
      %th Gross Total Cost:
      %td
        %span.label-default.label#gross-total-cost{'data-id'=>params[:id]}
          = number_to_currency(@total_po_cost.to_f, unit: "P ")
    %tr
      %th Total Item Discount:
      %td
        %span.label.label-default#total-item-discount
          = number_to_currency(@total_item_discount, unit: "P ")
    %tr
      %th Grand Total:
      %td
        %span.label.label-default#grand-total
          = number_to_currency(@gross_amount, unit: "P ")
    %tr
      %th Overall Discount
      %td
        - if @review_po == false || @purchase_order.status == 'A' || @purchase_order.status == 'V'          
          %input#od{type: :text, value: @overall_discount, :disabled => :disabled}            
        - else
          %input#od.form-control{type: :text, value: @overall_discount}    
    %tr
      %th Support Discount
      %td        
        %input.form-control#supplier-support-discount{type: :text, value: @po_support_ds}
          
    %tr
      %th Net Amount:
      %td
        %span.label.label-default#net-amount
          = number_to_currency(@grand_total, unit: "P ")

%br 
.div.padding-30 
  - if @purchase_order.status == 'P'
    .col-xs-12.padding-0
      - if @review_po == true
        %span.btn.btn-info.po-operation#savePo{'data-status' => @purchase_order.status} Save        
        %span.btn.btn-warning.po-operation#confirmPo Confirm        
        %span.glyphicon.glyphicon-plus.btn.btn-success.pull-right#add-po-line
  - elsif @purchase_order.status == 'C'
    .col-xs-12.padding-0
      - if @approve_void_po        
        %span.btn.btn-primary.po-operation#approvePo Approve
        = link_to 'Void', po_line_commit_purchase_order_path(id: params[:id], status: 'V'), class: 'btn btn-danger', method: :post, id: 'voidPo'
      - if @review_po == true
        %span.btn.btn-info.po-operation#savePo{'data-status' => @purchase_order.status} Save        
        %span.glyphicon.glyphicon-plus.btn.btn-success.pull-right#add-po-line      


.col-xs-12.padding-0
  - if @purchase_order.status == 'Pending' || @purchase_order.status == 'Confirmed'
    %table.table.table-global.po-table#po-lines{"data-source" => purchase_order_lines_purchase_order_url(format: "json")}
      %thead
        %tr
          %th No
          %th Product
          %th Sales and Inventory
          %th Order Details
          %th Cost
          %th{width: '100px'} Action
      %tbody
  - else
    %table.table.table-global.po-table#po-lines{"data-source" => purchase_order_lines_purchase_order_url(format: "json")}
      %thead
        %tr
          %th No
          %th Product
          %th Units to Purchase
          %th Purchase Price
          %th Discount
          %th Subtotal
      %tbody

.modal.fade#remarks-modal{'aria-hidden'=>'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>'modal'}
          %span{'aria-hidden'=>'true'} &times;
        %h4 Purchase Order Remarks
      .modal-body
        %textarea#remarks-textarea.form-control{rows: 15}= @purchase_order.remarks
      .modal-footer
        %button.btn.btn-default#dismiss{'data-dismiss'=>'modal'} Close
        %button.btn.btn-primary#save-remarks Save changes

.modal.fade#graphs-modal{'aria-hidden'=>'true'}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>'modal'}
          %span{'aria-hidden'=>'true'} &times;
        %h4#modal-product-name
      .modal-body{style: 'min-height: 510px;'}

        .col-xs-4
          .panel.panel-primary
            .panel-heading Details
            .panel-body.graphs
              %li
                %label Supplier:
                %span#modal-branch-name
              %li
                %label Branch:
                %span#modal-supplier-name              
              %li
                %label Last Received Date:
                %span#modal-last-received-date
              %li
                %label Last Received Qty:
                %span#modal-last-received-qty

        .col-xs-4
          .panel.panel-primary
            .panel-heading#modal-po-date
            .panel-body#modal-supplier-name.graphs
              %li
                %label Average Daily Sales:
                %span#modal-average-daily-sales
              %li
                %label On-hand Quantity:
                %span#modal-on-hand-quantity
              %li
                %label Suggested Quantity:
                %span#modal-suggested-quantity
              %li
                %label SRP:
                %span#modal-srp
        .col-xs-4
          .panel.panel-primary
            .panel-heading Duration
            .panel-body.graphs
              %li
                %select#duration.form-control
                  %option{value: 7} 
                  %option{value: 30} Last 30 Days
                  %option{value: 60} Last 60 Days
                  %option{value: 90} Last 90 Days
                  %option{value: 0} Custom
              %li{style: 'padding-bottom: 5px;'}
              %li.date-cont                
                .col-xs-12.padding-0
                  .input-group.input-group-sm
                    %span.input-group-addon
                      from
                    %input#from.form-control{onblur: 'dateFromTo()', type: :date, value: Date.today.strftime('%F'), min: (Date.today - 3.years).strftime('%F')}              
              %li.date-cont                
                .col-xs-12.padding-0
                  .input-group.input-group-sm{ style: 'padding-top: 5px;' }
                    %span.input-group-addon{style: "width: 47px;"}
                      to
                    %input#to.form-control{onblur: 'dateFromTo()', type: :date, style: "width: 179px;", value: Date.today.strftime('%F'), min: (Date.today - 3.years).strftime('%F')}


        .col-xs-12
          %ul.nav.nav-tabs{role: :tablist}            
            %li
              %a#sinv-btn{href: '#sales-inv', 'data-toggle' => 'tab'} Sales & Inventory
            %li
              %a#isr-btn{href: '#inventory-sales-ratio', 'data-toggle' => 'tab'} Inventory-Sales Ratio
            %li
              %a#hd-btn{href: '#historical-data', 'data-toggle' => 'tab'} Historical Data

        .col-xs-12
          .tab-content
            .fade.tab-pane#sales-inv
              #sales-inventory
              .legend-sales
              %label.legend-lbl Sales
              .legend-inventory
              %label.legend-lbl Inventory
            .fade.tab-pane#inventory-sales-ratio
            .fade.tab-pane#historical-data
      .modal-footer
        %span.btn.btn-default{'data-dismiss'=>'modal'} Close

.div#refresh
  .modal.fade#add-line-modal{role: :dialog, 'aria-hidden'=>'true'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: :button, 'data-dismiss'=>'modal'}
            %span{'aria-hidden'=>'true'} &times;
          %h4 Choose Product
        .modal-body
          #get_prod_to_add

= render partial: "modal_order_to_supplier"

- content_for :footer do
  = javascript_include_tag 'po-lines-datatable'
  = javascript_include_tag 'purchase_order_lines/purchase_order_lines_actions'
  = javascript_include_tag 'Chart.min'