.hide#review{'po-count' => @purchase_orders.count}
%table#purchase_orders.table.table-global{"data-source" => purchase_order_url(format: "json")}
  %thead
    %tr
      %th No
      %th Ref #
      %th Supplier
      %th Branch
      %th Category
      %th Generated At
      %th Action
  %tbody

%form#copy-po-form
  .modal.fade#copy-po-modal{'aria-hidden' => 'true'}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{type: :button, 'data-dismiss' => 'modal'}
            %span{'aria-hidden' => 'true'} &times;
          %h4.modal-title Choose Branch
        .modal-body
          #load-branches
        .modal-footer
          %button.btn.btn-default{type: :button, 'data-dismiss' => 'modal'} Close
          %span.btn.btn-primary#trigger-copy-po Duplicate

:javascript
  var po_count = $("#review").attr('po-count');

  if (parseInt(po_count) > 10)
    paginate = true;
  else
    paginate = false;

  alert(po_count);
  
- content_for :footer do
  = javascript_include_tag 'po-list'
