.col-xs-12
  %h2 CloudBuy Admin Login
.col-xs-4
  = form_tag admin_sessions_path do
    .form-group
      %label Email Address
      = text_field_tag :email, params[:email], class: 'form-control'
    .form-group
      %label Password
      = password_field_tag :password, params[:password], class: 'form-control'
    .form-group
      = link_to 'Forgot Password? Click here.', forget_password_users_path
    .form-group
      = submit_tag "Log in", class: 'btn btn-primary'