= page_entries_info @result
%table.table
  %tr
    %th No
    %th Supplier Name
    %th Action
  - no = 0
  - @result.each do |supplier|
    %tr
      %td= no += 1
      %td= supplier.name
      %td
        %span.btn.btn-xs.btn-primary.supplier-btn2{'data-supplier-id' => supplier.id } Unassign
= will_paginate @result, class: 'assigned-paginate'

:javascript
  $(".supplier-btn2").click(function(){
    var supplierId = $(this).attr('data-supplier-id');
    var params = { "supplier_id": supplierId }
    $.post("#{unassigner_user_path(params[:id])}", params)
     .done(function( data ) {
        if ( data == 'success' ) {
          reload();
        } else {
          swal("Oh Snap!", "Something went wrong. Please try again!", "error");
        }
     });
  });

  $(function(){
    $(".assigned-paginate a").click(function(event){
      event.preventDefault();
      var link = $(this).attr('href');
      $("#assigned_suppliers_container").load(link, function(){});
    });
  });