%br
.col-lg12
  %font{style: "font-size:14px"}
    %ol.breadcrumb
      %li 
        = link_to('Dashboard', dashboards_path)
      %li
        = link_to 'Users', users_path
      %li.active
        = "#{@user.first_name}"
        
.col-xs-4
  %h2 Edit Basic Information
  - if @user.errors.any?
    - @user.errors.each do |k, v|
      .alert.alert-danger.alert-dismissable
        %button.close{ 'data-dismiss' => 'alert', 'aria-hidden' => 'true' }
          = '&times;'.html_safe
        %strong= k
        = v
  = form_for @user, url: url_for(action: :change_password), method: :put do |u|
    .form-group
      %label First Name
      = u.text_field :first_name, class: 'form-control'
    .form-group
      %label Last Name
      = u.text_field :last_name, class: 'form-control'
    .form-group
      %label Email
      = u.email_field :email, class: 'form-control'
    .form-group
      %label Password
      = u.password_field :password, class: 'form-control'
    .form-group
      %label Confirm Password
      = u.password_field :password_confirmation, class: 'form-control'
    .form-group
      = u.submit 'Submit', class: 'btn btn-primary btn-sm'
      = link_to 'Cancel', users_path, class: 'btn btn-danger btn-sm'