:javascript
  var user_id_params;
  $(document).ready(function(){
      user_id_params = $("#review").attr('data-attr-par');
  });

:css 
  div.dataTables_processing {
    font-weight: bold;
    color: #428bca;
    border: 0px;
  }
.hide#review{'data-attr-par' => params[:id]}  
%br
%ul.nav.nav-tabs{role: :tablist}
  %li.active#udt
    %a{href: '#user_details_tab', role: :tab, 'data-toggle'=>'tab', id: 'udt_select'} User Details
  - if merchant_current_user.role == 'owner'
    %li#st
      %a{href: '#suppliers_tab', role: :tab, 'data-toggle'=>'tab', id: 'st_select'} Suppliers


.tab-content

  / DISTRIBUTORS
  .tab-pane#suppliers_tab
    .col-lg-6
      %h2 Suggested Suppliers
      %table#pending-distributors.table.table-global{"data-source" => unassigned_suppliers_user_url(format: "json")}
        %thead
          %tr
            %th No
            %th Supplier Name
            %th Action
        %tbody
    .col-lg-6
      %h2 Assigned Suppliers
      %table#assigned-distributors.table.table-global{"data-source" => assigned_suppliers_user_url(format: "json")}
        %thead
          %tr
            %th No
            %th Supplier Name
            %th Action
        %tbody
  


  / USER DETAILS   
  .tab-pane.active#user_details_tab
    %br
    .col-md-6.col-xs-12.col-lg-6
      = form_for @user, url: url_for(action: :update) do |u|
        .form-group
          %label First Name
          = u.text_field :first_name, class: 'form-control'
        .form-group
          %label Last Name
          = u.text_field :last_name, class: 'form-control'
        .form-group
          %label Email
          = u.email_field :email, class: 'form-control'
        .form-group
          %label Password
          = u.password_field :password, class: 'form-control'
        .form-group
          - if merchant_current_user.role == 'owner'
            - options = ['supervisor', 'buyer']
          - else
            - options = %w(supervisor buyer)
        - if merchant_current_user.role == 'owner'
          .form-group#user-type
            %label User Types
            = u.select :role, options.map {|value| [value.titleize, value]}, {},  {class: 'form-control', id: :user_types}
          %br
          .form-group#supervisor{style: 'display: none;'}
            %label Supervisor
            = u.select :supervisor_id, @supervisor.map {|value| [value.first_name + " " + value.last_name, value.id]}, {},  {class: 'form-control', id: :supervisor}
          .form-group{class: 'display: #{"none" if}'}
          %label User Roles
          - role = @user.roles.map(&:name)
          = u.fields_for :roles_attributes do |r|
            %div#rpo_b
              %input#rpo{value: :rpo, name: 'user[roles_attributes][][name]', type: :checkbox, checked: role.include?('rpo') ? true : false}
              %label{for: :rpo} Confirm POs
            %div#apo_b
              %input#apo{value: :apo, name: 'user[roles_attributes][][name]', type: :checkbox, checked: role.include?('apo') ? true : false}
              %label{for: :apo} Approve and Void POs
            %div
              %input#cpo{value: :cpo, name: 'user[roles_attributes][][name]', type: :checkbox, checked: role.include?('cpo') ? true : false}
              %label{for: :cpo} Duplicate POs
            %div
              %input#cpo{value: :epo, name: 'user[roles_attributes][][name]', type: :checkbox , checked: role.include?('epo') ? true : false}
              %label{for: :epo} Edit Purchase Price in PO Line
            %div
              %input#ssu{value: :ssu, name: 'user[roles_attributes][][name]', type: :checkbox, checked: role.include?('ssu') ? true : false}
              %label{for: :ssu} Suspend Suppliers
            %div
              %input#spr{value: :spr, name: 'user[roles_attributes][][name]', type: :checkbox, checked: role.include?('spr') ? true : false}
              %label{for: :spr} Suspend Products
        %br
        .form-group
          = u.submit 'Submit', class: 'btn btn-primary btn-sm'
          = link_to 'Cancel', users_path, class: 'btn btn-danger btn-sm'


// Assign Suppliers
  


// Modal for supplier assignment
.modal.fade#assign-supplier{role: :dialog, 'aria-hidden'=>'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>'modal'}
          %span{'aria-hidden'=>'true'} &times;
        %h4 Assign Product Tags
      .modal-body
        #load-product-categories
      .modal-footer
        %button.btn.btn-default{type: :button, 'data-dismiss'=>'modal'} Close
        %button.btn.btn-primary#submit-changes{type: :button, 'data-dismiss'=>'modal'} Save Changes



:javascript

  $(document).ready(function() {
    $("#rpo").change(function() {
      var value = $("#user_types").val();
      if (value == 'buyer') {
        if($(this).is(":checked"))
          $("#apo").prop('disabled', true);
        else
        {
          $("#apo").prop('disabled', false);  
          $("#rpo").prop('disabled', true);  
        }
      }
    });

    $("#apo").change(function() {
      var value = $("#user_types").val();
      if (value == 'buyer') {
        if($(this).is(":checked")) 
          $("#rpo").prop('disabled', true);
        else
        {
          $("#rpo").prop('disabled', false);  
          $("#apo").prop('disabled', true);  
        }
      }
    });
  });
    

  $(document).ready(function() {
    var value = $("#user_types").val();
    if (value == 'buyer')
      $("#supervisor").css('display', 'block');
    else
      $("#supervisor").css('display', 'none');
  });

  $("#user_types").change(function(){
    var value = $(this).val();
    if (value == 'buyer') {
      $("#supervisor").css('display', 'block');

      $("#rpo").prop('checked', true);
      $("#apo").prop('checked', false);
      $("#cpo").prop('checked', true);
      $("#epo").prop('checked', true);
      $("#ssu").prop('checked', false);
      $("#spr").prop('checked', false);

      $("#apo").prop('disabled', true);
    }
    else {
      $("#supervisor").css('display', 'none');

      $("#apo").prop('disabled', false);

      $("#rpo").prop('checked', true);
      $("#apo").prop('checked', true);
      $("#cpo").prop('checked', true);
      $("#epo").prop('checked', true);
      $("#ssu").prop('checked', true);
      $("#spr").prop('checked', true);
    }
  });


  var table = $('#pending-distributors').DataTable({
    sPaginationType: "full_numbers",
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#pending-distributors').data('source'),
  });

  var table2 = $('#assigned-distributors').DataTable({
    sPaginationType: "full_numbers",
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#assigned-distributors').data('source'),
  });


  // Supplier Assignment

  $("#submit-changes").click(function(){
    var values = $('#category-tags').val();
    var params = { "supplier_id": supplierId, "category_ids": values }

    var btn = $("#assign-action-" + global_supplier_id);

    btn.css("background-color", "#f0ad4e");
    btn.css("border-color", "#eea236");

    btn.button('loading');
    
    $.post("#{assigner_user_path(params[:id])}", params)
      .done(function(data){
        if ( data == 'success' ) {
          table.ajax.reload();
          table2.ajax.reload();
        } else {
          swal("Oh Snap!", "Something went wrong. Please try again!", "error");
        }        
      }
    );    
  });

  $("#udt").click(function(){
    document.location.href = "#udt";
    table.ajax.reload();
    table2.ajax.reload();
  });

  $("#st").click(function(){
    document.location.href = "#st";
  });

  $(document).ready(function(){
    var hash = document.location.hash;
    $(hash.toString() + "_select").click();
  });
