.col-xs-4
  %h2
    Enter your email address
  .form-group
    %input.form-control#email-field{type: :email}
  .form-group
    %button.btn.btn-primary.col-xs-12#reset-btn{ 'data-loading-text' => 'Sending....' }
      Send Reset Password

:javascript
  $("#reset-btn").click(function(){
    var btn = $(this);
    btn.button('loading');
    $.post("#{send_password_users_path}", { "email": $("#email-field").val() }, function(data){
      if (data == 'sent')
      {        
        swal("Oops...", "Please check your email address!", "error");
      } else if ( data == 'unknown' )
      {        
        swal("Oops...", "User is not yet registered!", "error");
      } else
      {        
        swal("Oh Snap!", "Sending failed. Please try again!", "error");
      }
      btn.button('reset');
    })
  });