.col-xs-12.padding-0
  .col-lg-6.padding-0
    %h2 List of Users
  .col-lg-6.padding-0
    %h2.text-right
      = link_to 'Add Another User', new_user_path, class: 'btn btn-success'
%table#users.table-global.table{"data-source" => users_url(format: "json")}
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email Address
      %th Date Registered
      %th Role
      %th Action
  %tbody



:javascript
  $(function(){
    setTimeout(function() {
    $(".alert").fadeOut('slow');}, 3000
    );
  });

  var table = $('#users').DataTable({
    sPaginationType: "full_numbers",
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#users').data('source'),
    fnDrawCallback: function(){
        if($("#suppliers").find("tr:not(.ui-widget-header)").length<=5){
            $('#users_paginate').css("display", "none");
        } else {
            $('#users_paginate').css("display", "block");
        }
    }
  });
  




