.col-lg-12.col-lg-5
  %h2 Add New User
  = form_for @user, url: url_for(action: :create) do |u|
    .form-group
      %label First Name
      = u.text_field :first_name, class: 'form-control'
    .form-group
      %label Last Name
      = u.text_field :last_name, class: 'form-control'
    .form-group
      %label Email
      = u.email_field :email, class: 'form-control'
    .form-group
      %label Password
      = u.password_field :password, class: 'form-control'
    .form-group
      - if merchant_current_user.role == 'owner'
        - options = ['supervisor', 'buyer']
      - else
        - options = ['supervisor', 'buyer']
      %label User Types
      = u.select :role, options.map {|value| [value, value]}, {},  {class: 'form-control', id: :user_types}
    .form-group#supervisor{style: 'display: none;'}
      - supervisor = User.where(:account_id => merchant_current_user.account_id , :role => 'supervisor', :status => 'A')
      %label Supervisor
      = u.select :supervisor_id, supervisor.map {|value| [value.first_name + " " + value.last_name, value.id]}, {},  {class: 'form-control', id: :supervisor}
    .form-group
      %label User Roles
      = u.fields_for :roles_attributes do |r|
        %div#rpo_b
          %input#rpo{value: :rpo, name: 'user[roles_attributes][][name]', type: :checkbox}
          %label{for: :rpo} Confirm POs
        %div#apo_b
          %input#apo{value: :apo, name: 'user[roles_attributes][][name]', type: :checkbox}
          %label{for: :apo} Approve and Void POs
        %div
          %input#cpo{value: :cpo, name: 'user[roles_attributes][][name]', type: :checkbox}
          %label{for: :cpo} Copy POs
        %div
          %input#epo{value: :epo, name: 'user[roles_attributes][][name]', type: :checkbox}
          %label{for: :epo} Edit Price in PO
        %div
          %input#ssu{value: :ssu, name: 'user[roles_attributes][][name]', type: :checkbox}
          %label{for: :ssu} Suspend Suppliers
        %div
          %input#spr{value: :spr, name: 'user[roles_attributes][][name]', type: :checkbox}
          %label{for: :spr} Suspend Products
    .form-group
      = u.submit 'Submit', class: 'btn btn-primary btn-sm'
      = link_to 'Cancel', users_path, class: 'btn btn-danger btn-sm'

.col-xs-12.col-lg-1
.col-xs-12.col-lg-5 
  - if @user.errors.any?
    - @user.errors.each do |attrib, msg|
      .alert-dismissible.alert.alert-danger{role: :alert}
        %span.close{'data-dismiss' => "alert"}
          %span{'aria-hidden'=>'true'} &times;
        %strong= attrib.to_s.titleize
        = "#{msg}"

- content_for :footer do
  = javascript_include_tag "users/users_new"







