%br
.col-lg12
  %font{style: "font-size:14px"}
    %ol.breadcrumb
      %li 
        = link_to('Dashboard', dashboards_path)
      %li
        = link_to 'Users', users_path
      %li.active
        = "#{@user.first_name}"
        
.col-xs-4
  %h2 Reset Password

  .form-group
    %label New Password
    %input.form-control#p1{type: :password, name: :password_reset}

  .form-group
    %label Confirm New Password
    %input.form-control#p2{type: :password, name: :password_reset2}

  .form-group
    %button.btn.btn-primary#reset-btn Reset

:javascript

  $("#reset-btn").click(function(){
    var p1 = $("#p1").val();
      var p2 = $("#p2").val();

      if ( p1 == p2 )
      {
        $.post("#{reset_password_users_path(id: params[:id])}", {"password_reset": p1}, function(data){
          if (data == 'success') {            
            swal("Hola!", "Password has been sent to your email address.", "success");
            document.location.href = '#{root_url}';
          } else {            
            swal("Oops...", "Something went wrong. Try again!", "error");
          }
        });
      } else
      {        
        swal("Oops...", "Password not matched. Try again!", "error");
      }
  });

