= page_entries_info @result
%table.table
  %tr
    %th No
    %th Supplier Name
    %th Action
  - no = 0
  - @result.each do |supplier|
    %tr
      %td= no += 1
      %td= supplier.name
      %td
        %span.btn.btn-xs.btn-primary.supplier-btn{'data-supplier-id' => supplier.id} Assign
= will_paginate @result, class: 'unassigned-paginate'

:javascript

  var supplierId = '';

  $(".supplier-btn").click(function() {
    supplierId = $(this).attr('data-supplier-id');
    $("#load-product-categories").load("#{get_product_categories_suppliers_path}?id=" + supplierId, function(data){
      $('#assign-supplier').modal('show');
    });
  });

  // For pagination

  $(".unassigned-paginate a").click(function(event){
    event.preventDefault();
    var link = $(this).attr('href');
    $("#unassigned_suppliers_container").load(link, function(){});
  });
