.col-xs-4
  %h2 API Key
  - if @user.errors.any?
    - @user.errors.each do |k, v|
      .alert.alert-danger.alert-dismissable
        %button.close{ 'data-dismiss' => 'alert', 'aria-hidden' => 'true' }
          = '&times;'.html_safe
        %strong= k
        = v
  %ul.list-group
    %li.list-group-item
      = @api_key