%br
.hide#review{'data-attr-par' => params[:id]}
.col-lg-12
  .row.background
    .col-xs-12
      %h2.white PO Summary
    .col-lg-3
      .well-lg.bg-primary.text-center.white
        %h3
          %span.glyphicon.glyphicon-time
          = @new_count
        .well-sm.bg-primary2
          = link_to "Pending" , purchase_order_path("P"), class: "white"
    .col-lg-3
      .well-lg.bg-warning.text-center.white
        %h3
          %span.glyphicon.glyphicon-eye-open
          = @reviewed_count
        .well-sm.bg-warning2
          = link_to "Confirmed" , purchase_order_path("C"), class: "white"
    .col-lg-3
      .well-lg.bg-success.text-center.white
        %h3
          %span.glyphicon.glyphicon-ok
          = @approved_count
        .well-sm.bg-success2
          = link_to "Approved" , purchase_order_path("A"), class: "white"
    .col-lg-3
      .well-lg.bg-danger.text-center.white
        %h3
          %span.glyphicon.glyphicon-remove
          = @voided_count
        .well-sm.bg-danger2
          = link_to "Voided" , purchase_order_path("V"), class: "white"
.row
%br
  .col-lg-12-padding-0
    .col-sm-6.padding-5
      %h2 
        Branches
        .btn.btn-sm.btn-primary.pull-right#show-all-branches Show All Branches
      %table#branches.table-global.table{"data-source" => dashboards_url(format: "json")}
        %thead
          %tr
            %th{'width' => "50%"} Branch Name
            %th Progress
        %tbody
    .col-sm-6.padding-5
      %h2 
        Suppliers
        .btn.btn-sm.btn-primary.pull-right#show-all-suppliers Show All Suppliers
      #load-sup-po-summary 


- content_for :footer do
  = javascript_include_tag 'user-dashboard'