%br
%ul.nav.nav-tabs{role: :tablist}
  %li.active#udt
    %a{href: '#import_test_data', role: :tab, 'data-toggle'=>'tab', id: 'udt_select'} Import Test Data
  - if merchant_current_user.role == 'owner'
    %li#st
      %a{href: '#generate_po', role: :tab, 'data-toggle'=>'tab', id: 'st_select'} Generate PO

.tab-content
  .tab-pane.active#import_test_data
    %h3 DATA UPLOADING
    = form_tag({action: :upload}, multipart: true) do
      .col-sm-3.form-group
        = file_field_tag 'upload_file'
      .col-sm-3.form-group
        = submit_tag "Upload Files"
  .tab-pane#generate_po
    %h3 TRIGGER PO GENERATION
