%table#suppliers.table-global.table{"data-source" => supplier_index_dashboards_url(format: "json")}
	%thead
		%tr
			%th{'width' => "50%"} Supplier Name
			%th Progress
	%tbody

:javascript
	var table2 = $('#suppliers').DataTable({
		sPaginationType: "full_numbers",
		bProcessing: true,
		bServerSide: true,
		sAjaxSource: $('#suppliers').data('source'),
		aoColumnDefs: [{'bSortable': false, 'aTargets': [1]}],
		fnDrawCallback: function(){
			if($("#suppliers").find("tr:not(.ui-widget-header)").length<=5){
				$('#suppliers_paginate').css("display", "none");
			} else {
				$('#suppliers_paginate').css("display", "block");
			}
		}
	});


	

