@import url(http://fonts.googleapis.com/css?family=Raleway:300,600);
* {
    font-family: "raleway", sans-serif;
}

.table-unbordered { width: 100%; }
.table-unbordered td, .table-unbordered th {
    padding: 3px 10px;
    font-size: 16px;
}

.view-spacer {
    margin-top: 56px;
    clear: both;
}

.view-spacer-10 {
    margin-top: 10px;
}

#roles label {
    font-weight: normal;
}
.padding-0
{
    padding: 0px;
}
#roles label:first-child { font-weight: bold; }

.table-global th {
    background: #025AAD;
    color: #ffffff;
    text-align: center;
}
.table-global td {
    color: #30343a;
    text-align: center;
}
.table-global tr:nth-child(even){
    background: #ffffff;

}
.table-global tr:nth-child(odd){
    background: #F0F0F0;
    
}
.label-default {
    font-size: 100%;
}

li { list-style: none; }


.sorter {
    width: 10px;
    height: 10px;
    background: url("/assets/sort_both.png");
}

/* DATATABLES  */

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
    cursor: pointer;
    *cursor: hand;
}
table.dataTable thead .sorting {
    background: #025AAD url("/assets/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_asc {
    background: #025AAD url("/assets/sort_asc.png") no-repeat center right;
}
table.dataTable thead .sorting_desc {
    background: #025AAD url("/assets/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled {
    background: #025AAD url("/assets/sort_asc_disabled.png") no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled {
    background: #025AAD url("/assets/sort_desc_disabled.png") no-repeat center right;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

.dataTables_processing {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 11px;
    padding: 2px 0;
}

/* Length is the dropdown which selects the number of items to return */
.dataTables_length {
    width: 50%;
    float: left;
    display: block;
}

.dataTables_length select {
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* Filter is the Search Field  */
.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
    padding: 3px;
}

.dataTables_filter label {
    width: 50%;
    display: inline-flex;
    position: relative;
    text-align: right;
    line-height: 2.4;
}

.dataTables_filter input
{
    float: right;
    margin-left: 10%;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


/* Info is the footer which displays the number of results displaying out of the total number of results  */
.dataTables_info {
    width: 50%;
    float: left;
}

/* Paginate is the footer which lists the pages */
.dataTables_paginate {
    float: right;
    text-align: right;
    padding: 3px;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    height: 19px;
    width: 19px;
    margin-left: 3px;
    float: left;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
    /*border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;*/

    font-size: 12px;
    display: inline-block;
    padding: 3px 14px;
    border: 1px solid #ddd;
    border-radius: 15px;
    cursor: pointer;
    margin: 1px;
}

.paging_full_numbers a.paginate_button {
    color: #428bca;
    text-decoration: none;
}

.paging_full_numbers a.paginate_button:hover {
    text-decoration: none !important;
    background: #eaeaea;
}
.current {
    background: #eaeaea;
}
.order-lines, .order-lines li { padding: 0px; line-height: 0.9 }
.order-lines .spacer { padding: 8px; }
.order-lines { padding: 25px 5px; }

.po-table td    {
    padding-top: 100px;
}

.input-po {
    border: 1px solid transparent;
    background: none;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    width: 110px;
}


.subtotal {
    line-height: 1.7;
}

.bg-primary {
    background-color: #ECBB0F;
}

.bg-primary2 {
    background-color: #907009;
}

.bg-danger {
    background-color: #DC4647;
}

.bg-danger2 {
    background-color: #842A2A;
}

.bg-warning {
    background-color: #10B7BD;
}

.bg-warning2 {
    background-color: #0B6F71;
}

.bg-success {
    background-color: #3BD118;
}

.bg-success2 {
    background-color: #237C0E;
}

.background {
    background: url(/assets/dashboard_summary_bg.png) no-repeat; /* insert image here  */
    background-size: cover;
    padding-bottom: 25px;
    border-radius: 5px;
}

.white {
    color: #ffffff;
}

a.white:hover { color: #FFF; font-weight: bold; text-decoration: none; }

.well-lg {
    padding: 15px;
}

.well-sm3 {
    float: left;
    width: 175px; 
    height: 75px;
    text-align: left;
}

/* Body Progress Bar
-------------------------------------------------- */

.progress {
    width: 100%;
    margin-bottom: 0px;
}

.progress-bar-no-po {
    background-color: #c4c0c0;
    width: 100%;
    background-image: none;
    padding-top: 2px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.progress-bar-primary{
    background-color: #10B7BD;
}

.progress-bar-success{
    background-color: #3BD118;
}

.progress-bar-warning{
    background-color: #ECBB0F;
}


.well-sm3 {
    height: 100%;
    width: 100%;
}

.graphs {
    min-height: 105px;
}
.dataTables_filter label {
    width: 70%;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
.action-btns { padding-bottom: 12px; }
#po-lines_wrapper {
    padding-top: 10px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

