.legend-sales {
    width: 5px;
    height: 5px;
    padding: 5px;
    border: 1px solid rgba(66,139,202,0.9);
    background: rgba(66,139,202,0.5);
    display: inline-block;
}
.legend-inventory {
    width: 5px;
    height: 5px;
    padding: 5px;
    border: 1px solid rgba(220,220,220,1);
    background: rgba(220,220,220,0.6);
    display: inline-block;
}
.legend-lbl { padding-right: 5px; font-size: 12px; vertical-align: middle; line-height: 0.4; }
.date-cont {display: none;}