!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3     
      Purchase Order successfully generated. You can check it by logging in to your account!
    %p
      Thank you
      %br/
      %br/
      CloudBuy Team
