!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2
      Here is your recovery password reset link: "#{@passwordResetLink}"
    %p
      Thank you
      %br/
      %br/
      CloudBuy Team
