!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2
      Welcome to CloudBuy #{@user.first_name},
    %p
      Your account has been activated successfully.
      %br/
      %br/
      Account URL: #{@url}
      %br/
      Email Address: #{@user.email}
      %br/
      Password: #{@password}
    %p
      Thanks for joining and have a great day!
      %br/
      %br/
      CloudBuy Team
