.col-xs-12.padding-0
  .col-xs-6.padding-0
    %h2 CloudBuy Administrators
  .col-xs-6.padding-0
    %h2.text-right
      = link_to 'Add Another Admin', new_admin_user_path, class: 'btn btn-success'
%table.table-global.table
  %tr
    %th No
    %th First Name
    %th Last Name
    %th Email Address
    %th Date Registered
    %th Action
  - no = 0
  - @users.each do |user|
    %tr
      %td= no += 1
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td= user.created_at.strftime('%m-%d-%Y %I:%M %p')
      %td