.col-xs-4
  = form_for @user, url: url_for(action: :create) do |u|
    .form-group
      %label First Name
      = u.text_field :first_name, class: 'form-control'
    .form-group
      %label Last Name
      = u.text_field :last_name, class: 'form-control'
    .form-group
      %label Email
      = u.email_field :email, class: 'form-control'
    .form-group
      %label Password
      = u.password_field :password, class: 'form-control'
    .form-group
      = u.submit 'Submit', class: 'btn btn-primary btn-sm'
      = button_tag 'Reset', type: :reset, class: 'btn btn-danger btn-sm'

