.hide#review{'data-attr-par' => params[:id]}
%br
%br
%ul.nav.nav-tabs{role: :tablist}
  %li.active
    %a{href: '#details_tab', role: :tab, 'data-toggle'=>'tab'} Details
  %li
    %a{href: '#suppliers_tab', role: :tab, 'data-toggle'=>'tab'} Distributors


.tab-content#tabs
  .tab-pane.active#details_tab
    %br
    .col-lg-6
      = form_for @supplier do |f|
        .form-group
          %label Supplier Name
          = f.text_field :name, class: 'form-control'
        .form-group
          %label Supplier Code
          = f.text_field :code, class: 'form-control'
        .form-group
          %label Discount
          = f.text_field :discount_text, class: 'form-control'
        .form-group
          %label Contact Person
          = f.text_field :contact_person, class: 'form-control'
        .form-group
          %label Email
          = f.text_field :contact_email, class: 'form-control'
        .form-group
          %label Mobile Number
          = f.text_field :contact_mobile, class: 'form-control'
        .form-group
          %label Telephone Number
          = f.text_field :contact_telephone, class: 'form-control'
        .form-group
          %label Fax
          = f.text_field :contact_fax, class: 'form-control'
        .form-group
          %label Address
          = f.text_field :address, class: 'form-control'
        .form-group
          = f.check_box :vat_inclusive, id: :vatinclusive
          %label{for: :vatinclusive} VAT Inclusive
        .form-group
          = f.submit 'Submit', class: 'btn btn-primary'
          = link_to 'Cancel', suppliers_path, class: 'btn btn-danger'

  .tab-pane#suppliers_tab
    .col-lg-6
      %h2 Pending Distributors
      %table#pending-distributors.table.table-global{"data-source" => search_unassigned_supplier_url(format: "json")}
        %thead
          %tr
            %th No.
            %th Distributor Name
            %th Action
        %tbody
        
    .col-lg-6
      %h2 Assigned Distributors
      %table#assigned-distributors.table.table-global{"data-source" => search_assigned_supplier_url(format: "json")}
        %thead
          %tr
            %th No
            %th Supplier Name
            %th.text-center Action
        %tbody



:javascript
  var supplier_id_params;
  supplier_id_params = $("#review").attr('data-attr-par');

  var table = $('#pending-distributors').DataTable({
    sPaginationType: "full_numbers",
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#pending-distributors').data('source'),
  });

  var table2 = $('#assigned-distributors').DataTable({
    sPaginationType: "full_numbers",
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#assigned-distributors').data('source'),
  });


  






