.control-group
  %label{for: 'category-tags'} Product Categories
  %input#category-tags{type: :text}

:javascript
  $('#category-tags').selectize({
    persist: false,
    maxItems: null,
    valueField: 'id',
    searchField: ['name'],
    options: #{@categories},
    render: {
        item: function(item, escape) {
            return '<div>' +
                (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
            '</div>';
        },
        option: function(item, escape) {
            var label = item.name || item.id;
            var caption = item.name ? item.id : null;
            return '<div>' + '<span class="">' + escape(label) + '</span>' + '</div>';
        }
    }
  });
