.col-xs-12.padding-0
	.col-lg-6.padding-0
		%h2 List of Suppliers
	.col-lg-6.padding-0
		%h2.text-right
			- link_to 'Add Principal Supplier', new_supplier_path, class: 'btn btn-success'

%table#suppliers.table-global.table{"data-source" => suppliers_url(format: "json")}
	%thead
		%tr
			%th Supplier
			%th{style: "width: 110px;"} Contact
			%th Address
			%th{style: "width: 110px;"} Discount
			%th{style: "width: 110px;"} Principal
			- if merchant_current_user.roles.find_by_name('ssu').nil? == false || merchant_current_user.role == 'owner'
				%th{style: "width: 180px;"} Action
	%tbody

:javascript
	var x = $('#suppliers').dataTable({
		sPaginationType: "full_numbers",
		bProcessing: true,
		bServerSide: true,
		sAjaxSource: $('#suppliers').data('source'),
		fnDrawCallback: function(){
				if($("#suppliers").find("tr:not(.ui-widget-header)").length<=5){
						$('#suppliers_paginate').css("display", "none");
				} else {
						$('#suppliers_paginate').css("display", "block");
				}
		}
	});