.col-xs-4
  = form_for @supplier do |f|
    .form-group
      %label Supplier Name
      = f.text_field :name, class: 'form-control'
    .form-group
      %label Supplier Code
      = f.text_field :code, class: 'form-control'
    .form-group
      %label Discount
      = f.text_field :discount_text, class: 'form-control'
    .form-group
      %label Contact Person
      = f.text_field :contact_person, class: 'form-control'
    .form-group
      %label Email
      = f.text_field :contact_email, class: 'form-control'
    .form-group
      %label Mobile Number
      = f.text_field :contact_mobile, class: 'form-control'
    .form-group
      %label Telephone Number
      = f.text_field :contact_telephone, class: 'form-control'
    .form-group
      %label Fax
      = f.text_field :contact_fax, class: 'form-control'
    .form-group
      %label Address
      = f.text_field :address, class: 'form-control'
    .form-group
      = f.check_box :vat_inclusive, id: :vatinclusive
      %label{for: :vatinclusive} VAT Inclusive
    .form-group
      = f.submit 'Submit', class: 'btn btn-primary'
      = link_to 'Cancel', suppliers_path, class: 'btn btn-danger'
