:javascript
  var supplierId;
  $(document).ready(function(){
      supplierId = $("#review").attr('sup-id');
  });

%br
.hide#review{'sup-id' => params[:id]}
%br

%ul.nav.nav-tabs{role: :tablist}
  %li.active#po_tab
    %a{href: '#purchase_orders_tab', role: :tab, 'data-toggle'=>'tab', id: '#purchase_orders_tab_select'} Purchase Orders
  %li#sp_tab
    %a{href: '#products_tab', role: :tab, 'data-toggle'=>'tab', id: '#suppliers_tab_select'} Products

%br
.tab-content
  .tab-pane#products_tab
    %table#products.table-global.table{"data-source" => products_supplier_url(format: "json")}
      %thead
        %tr
          %th SKU
          %th Name
          %th Barcode
          %th Unit
          %th Stock Number
          %th Cost
          - if merchant_current_user.roles.find_by_name('spr').nil? == false || merchant_current_user.role == 'owner'
            %th Action
      %tbody
  .tab-pane#purchase_orders_tab.active
    %table#purchase_orders.table.table-global{"data-source" => purchase_orders_supplier_url(format: "json")}
      %thead
        %tr
          %th No
          %th Ref #
          %th Supplier
          %th Branch
          %th Category
          %th Generated At
          %th Action
      %tbody

.modal.fade#copy-po{'aria-hidden'=>'true', 'role' => 'dialog'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{'data-dismiss'=>'modal'}
          %span
            &times;
        %h3 Copy PO
      .modal-body
        #load-branches
      .modal-footer
        %span#copy-btn.btn.btn-primary{'data-dismiss'=>'modal'} Done
        %button.btn.btn-default{'data-dismiss'=>'modal'} Close


:javascript
  var table = $('#products').DataTable({
    sPaginationType: "full_numbers",
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#products').data('source'),
    fnDrawCallback: function(){
        if($("#products").find("tr:not(.ui-widget-header)").length<=5){
            $('#products_paginate').css("display", "none");
        } else {
            $('#products_paginate').css("display", "block");
        }
    }
  });

  var table2 = $('#purchase_orders').DataTable({
    sPaginationType: "full_numbers",
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#purchase_orders').data('source'),
    fnDrawCallback: function(){
        if($("#purchase_orders").find("tr:not(.ui-widget-header)").length<=5){
            $('#purchase_orders_paginate').css("display", "none");
        } else {
            $('#purchase_orders_paginate').css("display", "block");
        }
    }
  });

  $("#sp_tab").click(function(){
    document.location.href = "#suppliers_tab";
    table.ajax.reload();
  });

  $("#po_tab").click(function(){
      document.location.href = "#purchase_orders_tab";
      table2.ajax.reload();
  });

  $(document).ready(function(){
      var hash = window.location.hash;
      if ( hash != "" ) {
          $(hash.toString() + "_select").click();
      }
  });


  


  
  
  