= page_entries_info @result
%table.table
  %tr
    %th No
    %th Supplier Name
    %th.text-center Action
  - no = 0
  - @result.each do |supplier|
    %tr
      %td= no += 1
      %td= link_to(supplier.name, "/suppliers/#{supplier.id}/products")
      %td.text-center{width: 150}
        %span.supplier-btn2.btn.btn-primary.btn-xs{'data-supplier-id' => supplier.id }
          Unassign

= will_paginate @result, class: 'unassigned-paginate'


:javascript
  $(".supplier-btn2").click(function(){
    var supplier_id = $(this).attr('data-supplier-id');
    params = { "supplier_id": supplier_id}
    $.post("#{unassigner_supplier_path(params[:id])}", params)
     .done(function( data ) {
        if ( data == 'success' ) {
          reload();
        } else {
          swal("Oh Snap!", "Something went wrong. Please try again!", "error");
        }
     }); 
  });