!!!
%html
  %head
    %title IrippleCloudbuy
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        %a.navbar-brand{href: "#"}
          %img{src: image_path('cloudbuylogo_xsm.png')}
        = link_to 'CloudBuy', root_path, class: 'navbar-brand'

        %button.navbar-toggle{"data-target" => ".navHeaderCollapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        .collapse.navbar-collapse.navHeaderCollapse
          %ul.nav.navbar-nav
            - if current_user
              %li.verticalline-navbar
              %li
                = link_to 'Dashboard', admin_dashboards_path
              %li
                = link_to 'Merchants', admin_accounts_path
              %li
                = link_to 'Users', admin_users_path
          - if current_user
            %ul.nav.navbar-nav.navbar-right
              %li
              %li.dropdown
                %a.dropdown-toggle{href: '#', 'data-toggle'=>'dropdown'}
                  %span= current_user.first_name
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a
                      Change Password
                  %li
                    = link_to 'Log Out', admin_session_path('delete-cb-user'), method: :delete


    .view-spacer
    .container
      - flash.each do |name, msg|
        - if name.to_s == 'notice'
          .alert.alert-info.alert-dismissable
            %button.close{ 'data-dismiss' => 'alert', 'aria-hidden' => 'true' }
              = '&times;'.html_safe
            %strong Well done!
            = msg
        - elsif name.to_s == 'alert'
          .alert.alert-danger.alert-dismissable
            %button.close{ 'data-dismiss' => 'alert', 'aria-hidden' => 'true' }
              = '&times;'.html_safe
            %strong Oh snap!
            = msg
      = yield
    .view-spacer