!!!
%html
  %head
    %title Welcome to CloudBuy
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body#bdy
    .navbar.navbar-default.navbar-fixed-top
      .container
        %a.navbar-brand{href: "#"}
          %img{src: image_path('cloudbuylogo_xsm.png')}
        = link_to 'CloudBuy', root_path, class: 'navbar-brand'

        %button.navbar-toggle{'data-target'=>'.navbar-collapse', 'data-toggle'=>'collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if merchant_current_user
              %li= link_to 'Dashboard', dashboards_path
              %li= link_to 'Suppliers', suppliers_path
              - if merchant_current_user.role != 'buyer'
                %li= link_to 'Users', users_path
              - if merchant_current_user.role == 'owner'
                %li= link_to 'Control Center', upload_dashboards_path

          - if merchant_current_user
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "#{Date.today.strftime("%B %e, %Y")}" , "#"
              %li.dropdown
                %a.dropdown-toggle{href: '#', 'data-toggle'=>'dropdown'}
                  %span= merchant_current_user.first_name
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Change Password', change_password_users_path
                  - if merchant_current_user.role == 'owner'
                    %li
                      = link_to 'View API Key', view_api_key_users_path
                  %li
                    = link_to 'Log Out', session_path('delete-mc-user'), method: :delete

    .view-spacer
    .container      
      - flash.each do |name, msg|
        - if name.to_s == 'notice'
          .alert.alert-info.alert-dismissable
            %button.close{ 'data-dismiss' => 'alert', 'aria-hidden' => 'true' }
              = '&times;'.html_safe
            %strong Well done!
            = msg
        - elsif name.to_s == 'alert'
          .alert.alert-danger.alert-dismissable
            %button.close{ 'data-dismiss' => 'alert', 'aria-hidden' => 'true' }
              = '&times;'.html_safe
            %strong Oh snap!
            = msg
      .view-spacer-10{style: "display: #{'none;' if render_breadcrumbs.blank? }"}
        .col-xs-12.padding-0
          %ol.breadcrumb
            = render_breadcrumbs tag: :li, separator: ""            
      = yield
    .view-spacer
= yield :footer
:javascript
  $(function() {
    setTimeout(function() {
    $(".alert-info").fadeOut('slow');}, 3000
    );
  });  